<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text (click)="logout()" color="medium" class="logout-text">
        <ion-icon color="medium" name="close-outline"></ion-icon>
        Cerrar sesión
      </ion-text>
      <ion-label class="custom-text"
        ><h2>Selecciona un almacén para continuar</h2>
        <ion-icon name="arrow-down-circle-outline" size="large"></ion-icon>
      </ion-label>
    </ion-list-header>

    <ion-item-divider
      color="light"
      class="custom-divider ion-padding-horizontal ion-margin-vertical"
    >
      <ion-label class="custom-divider-text" color="medium"
        ><h1>Almacenes disponibles :</h1></ion-label
      >
    </ion-item-divider>

    <!-- Warehouse info -->
    <ion-item-sliding *ngFor="let warehouse of warehouses">
      <ion-item (click)="selectWarehouse(warehouse)">
        <ion-icon
          slot="start"
          name="business-outline"
          color="primary"
        ></ion-icon>

        <ion-label class="ion-text-wrap">
          <h2>{{ warehouse.name }}</h2>

          <p *ngIf="warehouse.address">
            <ion-icon name="location-outline" color="medium"></ion-icon>
            {{ warehouse.address }}
          </p>

          <p *ngIf="warehouse.phone">
            <ion-icon name="call-outline" color="medium"></ion-icon>
            {{ warehouse.phone }}
          </p>
        </ion-label>
      </ion-item>

      <!-- Sliding options (Edit and Delete) -->
      <ion-item-options>
        <!-- Edit button -->
        <ion-item-option color="tertiary" (click)="editWarehouse(warehouse)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
          Editar
        </ion-item-option>

        <!-- Delete button -->
        <ion-item-option color="danger" (click)="deleteWarehouse(warehouse)">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- No warehouses available message -->
    <ion-item *ngIf="warehouses.length === 0">
      <ion-label>Debes crear un almacén para seguir</ion-label>
    </ion-item>

    <!-- New button -->
    <ion-item (click)="addUpdateWarehouseModal()" lines="none">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      <ion-label>
        <h2>Crear nuevo almacén</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
