.option-btn {
    font-size: 27px;
    color: beige;
}

.custom-text{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 70px;
    color: darkgray;
}