<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><strong>Crear Nuevo Usuario</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="d-flex-center">

    <ion-avatar *ngIf="user.image_url">
      <img [src]="user.image_url" />
    </ion-avatar> 

    <ion-icon class="image-icon" name="image-outline" *ngIf="!user.image_url"></ion-icon>

    <!-- Create new image -->
    <ion-button (click)="takeImage()" size="small" shape="round" color="light">
      <ion-icon class="custom-icon" slot="end" name="camera-outline"></ion-icon>
      Añadir imagen
    </ion-button>

    <form (ngSubmit)="createUser()" #AddEditUserForm="ngForm">
      <!-- Nombre -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input
          [(ngModel)]="user.username"
          name="username"
          type="text"
          label="Nombre"
          labelPlacement="floating"
          required
        ></ion-input>
      </ion-item>

      <!-- password -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          required
        ></ion-input>
      </ion-item>

      <!-- email -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          [pattern]="emailPattern"
          label="Correo"
          labelPlacement="floating"
          required
        ></ion-input>
      </ion-item>

      <ion-button
        class="custom-button"
        color="secondary"
        expand="block"
        shape="round"
        type="submit"
        [disabled]="!AddEditUserForm.valid"
      >
        Crear
        <ion-icon
          class="icon"
          color="light"
          slot="end"
          name="person-add-outline"
        ></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
