<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      ><strong>{{
        isEditMode ? "Editar Producto" : "Crear Nuevo Producto"
      }}</strong></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="d-flex-center">
    <ion-avatar *ngIf="product.image_url">
      <img [src]="product.image_url" />
    </ion-avatar>

    <ion-icon
      class="image-icon"
      name="image-outline"
      *ngIf="isWeb && !product.image_url"
    ></ion-icon>

    <!-- Create new image -->
    <ion-button *ngIf="isWeb" (click)="takeImage()" size="small" shape="round" color="light">
      <ion-icon class="custom-icon" slot="end" name="camera-outline"></ion-icon>
      Añadir imagen
    </ion-button>

    <form
      (ngSubmit)="isEditMode ? updateProduct() : createProduct()"
      #AddEditProductForm="ngForm"
    >
      <!-- Serial number -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="barcode-outline"></ion-icon>
        <ion-input
          [(ngModel)]="product.serial_number"
          name="serial_number"
          type="text"
          label="Número de serie"
          labelPlacement="floating"
          required
        ></ion-input>
         <ion-note *ngIf ="!product.serial_number" slot="end" [color]="isEditMode ? 'medium' : 'danger'">{{
          isEditMode ? "(Opcional)" : "(Requerido)"
        }}</ion-note>
      </ion-item>

      <!-- Name -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="pricetag-outline"></ion-icon>
        <ion-input
          [(ngModel)]="product.name"
          name="name"
          type="text"
          label="Nombre"
          labelPlacement="floating"
          required
        ></ion-input>
        <ion-note *ngIf ="!product.name" slot="end" [color]="isEditMode ? 'medium' : 'danger'">{{
          isEditMode ? "(Opcional)" : "(Requerido)"
        }}</ion-note>
      </ion-item>

      <!-- quantity -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="cube-outline"></ion-icon>
        <ion-input
          [(ngModel)]="product.quantity"
          name="quantity"
          type="number"
          label="Cantidad en stock"
          labelPlacement="floating"
          min="0"
          required
        ></ion-input>
          <ion-note *ngIf ="!product.quantity" slot="end" [color]="isEditMode ? 'medium' : 'danger'">{{
          isEditMode ? "(Opcional)" : "(Requerido)"
        }}</ion-note>
      </ion-item>

      <!-- price -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-input
          [(ngModel)]="product.price"
          name="price"
          type="number"
          label="Precio unitario"
          labelPlacement="floating"
          min="0"
          required
        ></ion-input>
        <ion-note *ngIf ="!product.price" slot="end" [color]="isEditMode ? 'medium' : 'danger'">{{
          isEditMode ? "(Opcional)" : "(Requerido)"
        }}</ion-note>
      </ion-item>

      <!-- description -->
      <ion-item class="custom-input">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-input
          [(ngModel)]="product.description"
          name="description"
          type="text-area"
          label="Descripción"
          labelPlacement="floating"
          auto-grow="true"
        ></ion-input>
        <ion-note *ngIf ="!product.description" slot="end" color="medium">(opcional)</ion-note>
      </ion-item>

      <!-- category -->
      <ion-item class="custom-input" (click)="openSearchCategoryModal()">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>
          Categoría
          <p>{{ product.category }}</p>
        </ion-label>
        <ion-note *ngIf ="!product.category" slot="end" color="medium">(opcional)</ion-note>
      </ion-item>

      <!-- kit -->
      <ion-item class="custom-input" (click)="openSearchKitModal()">
        <ion-icon slot="start" name="apps-outline"></ion-icon>
        <ion-label>
          Kit asociado
          <p>{{ product.kit_id }}</p>
        </ion-label>
        <ion-note *ngIf ="!product.kit_id" slot="end" color="medium">(opcional)</ion-note>
      </ion-item>

      <ion-button
        class="custom-button"
        color="secondary"
        expand="block"
        shape="round"
        type="submit"
        [disabled]="!AddEditProductForm.valid"
      >
        {{ isEditMode ? "Guardar Cambios" : "Nuevo producto" }}
        <ion-icon
          class="icon"
          color="light"
          slot="end"
          name="save-outline"
        ></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
