<ion-header>
 <!-- Hide filters -->
  <ng-container *ngIf="showFilters">
    <ion-toolbar>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="filterItems()"
        placeholder="Buscar..."
      ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar style="--min-height: 48px; padding: 0">
      <ion-segment [(ngModel)]="filterType" (ionChange)="filterItems()">
        <ion-segment-button value="name">Nombre</ion-segment-button>
        <ion-segment-button value="serial">Nº Serie</ion-segment-button>
        <ion-segment-button value="price">Precio</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <!-- ionrefresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshProducts($event)">
    <ion-refresher-content
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Recargando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let product of visibleProducts">
      <ion-item (click)="openProductDetail(product)">
        <ion-avatar slot="start">
          <img [src]="product.image_url || logo" />
        </ion-avatar>

        <!-- product Info -->
        <ion-label>
          <!-- product name and serial number -->
          <h2>
            <ion-text style="color: #00b4ba"
              ><strong>{{ product.name }} </strong> -
            </ion-text>
            <ion-text color="primary"> {{product.serial_number}} </ion-text>
          </h2>

          <!-- product description -->
          <p *ngIf="product.description" class="ion-padding-start">
            <ion-icon name="document-text-outline" color="medium"></ion-icon>
            {{ product.description }}
          </p>

          <!-- product price -->
          <p class="ion-padding-start">
            <ion-icon
              name="cash-outline"
              color="medium"
              style="margin-right: 6px"
            ></ion-icon>
            <strong>{{ product.price | number:'1.2-2' }} € unidad</strong>
          </p>

          <!-- product category -->
          <p class="ion-padding-start" *ngIf=" product.category">
            <ion-icon name="pricetag-outline" color="medium"></ion-icon>
            Categoría: {{ product.category}}
          </p>
        </ion-label>

        <!-- go to info modal -->
        <ion-note slot="end" color="primary"
          >info <ion-icon color="primary" name="chevron-forward"></ion-icon
        ></ion-note>
      </ion-item>

      <!-- Sliding options (Edit and Delete) -->
      <ion-item-options>
        <!-- Edit button -->
        <ion-item-option color="tertiary" (click)="editProduct(product)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
          Editar
        </ion-item-option>

        <!-- Delete button -->
        <ion-item-option color="danger" (click)="deleteProduct(product)">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- No products available message -->
  <ion-item *ngIf="products.length === 0">
    <ion-label>No hay productos disponibles.</ion-label>
  </ion-item>

  <!-- infinite scroll -->
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreProducts($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más productos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- New button -->
<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  (click)="addUpdateProductModal()"
>
  <ion-fab-button color="secondary" title="Añadir producto">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Search button -->
<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="toggleFilters()">
  <ion-fab-button color="medium" size="small" title="Abrir busqueda">
    <ion-icon name="search-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>
