<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchText"
    (ionInput)="filter()"
    [placeholder]="
      allowCreate
        ? 'Busca o crea una opción...'
        : 'Busca una opción...'
    "
  ></ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let item of filteredItems" (click)="select(item)">
      {{ item[labelProperty] }}
    </ion-item>
    <ion-item
      *ngIf="allowCreate && searchText.trim() !== ''"
      (click)="createNewItem()"
    >
      Crear nueva opción:
    </ion-item>
    <ion-item
      *ngIf="allowCreate && searchText.trim() !== ''"
      (click)="createNewItem()"
    >
      <strong>{{ searchText }}</strong>
    </ion-item>
  </ion-list>
</ion-content>
