<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="arrow-back-circle"
        color="medium"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">
      <h1>{{transaction.identifier}}</h1></ion-title
    >
  </ion-toolbar>
</ion-header>

<!-- list of transactions -->
<ion-content>
  <ion-list *ngFor="let product of products">
    <ion-item class="ion-text-start">
      <!-- info -->
      <ion-icon
        *ngIf="transaction.type === 'in'"
        slot="start"
        name="enter-outline"
        color="success"
      ></ion-icon>
      <ion-icon
        *ngIf="transaction.type === 'out'"
        slot="start"
        name="exit-outline"
        color="danger"
      ></ion-icon>
      <ion-label>

        <!-- product name -->
        <ion-text class="app-color" >
          <h2>{{product.product.name}}</h2>
        </ion-text>
        <!-- product quantity -->
        <p class="ion-padding-start">
          <ion-icon name="location-outline" color="primary" ></ion-icon>
          Cantidad transferida : {{ product.quantity }}
        </p>
        <!-- product price -->
        <p class="ion-padding-start">
          <ion-icon
            name="cash-outline"
            color="primary"
            style="margin-right: 6px"
          ></ion-icon>
          <strong>{{ product.product.price | number:'1.2-2' }} € unidad</strong>
        </p>

      </ion-label>
      <!-- go to info modal -->
      <ion-note
        slot="end"
        color="primary"
        (click)="openProductDetail(product.product)"
        >info <ion-icon color="primary" name="chevron-forward"></ion-icon
      ></ion-note>
    </ion-item>
  </ion-list>

  <!-- Go to pdf button -->
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="goToPdf(transaction)"
  >
    <ion-fab-button color="medium">
      <ion-icon name="document-text-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
