<ion-menu
  contentId="main-content"
  (ionWillOpen)="getUser(); blurContentOnMenuOpen()"
  [swipeGesture]="!isHideMenu"
>
  <ion-header>
    <ion-toolbar>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col
            size="9"
            class="ion-justify-content-center ion-align-items-center ion-text-center d-flex"
          >
            <ion-chip (click)="addUpdateUserModal(user)">
              <ion-avatar>
                <img
                  alt="Avatar del usuario"
                  [src]="
                    user.image_url ||
                    'https://ionicframework.com/docs/img/demos/avatar.svg'
                  "
                />
              </ion-avatar>
              <ion-label>{{
                user.username || "Crear nuevo usuario"
              }}</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size="3" class="ion-text">
            <ion-menu-toggle>
              <ion-text
                *ngIf="user.username"
                (click)="logout()"
                color="medium"
                class="logout-text"
              >
                Cerrar sesión
              </ion-text>
              <ion-text
                *ngIf="!user.username"
                [routerLink]="['/login']"
                color="primary"
              >
                Iniciar sesión
              </ion-text>
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <!-- List of pages -->
  <ion-content class="ion-padding">
    <ion-menu-toggle *ngFor="let page of pages">
      <ion-list lines="none">
        <ion-item [routerLink]="page.url">
          <ion-icon
            aria-hidden="true"
            [name]="page.icon"
            slot="start"
          ></ion-icon>
          <ion-text> {{ page.title }}</ion-text>

          <ion-icon
            color="medium"
            name="chevron-forward-circle-outline"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!-- Header -->
  <ion-header class="ion-no-border">
    <ion-toolbar
      [ngClass]="isHideMenu ? 'custom-toolbar' : 'customg-toolbar-paddin'"
    >
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="!isHideMenu" class="primary"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start"> </ion-buttons>
      <div>
        <div>
          <ion-title>
            {{ title }} <img class="logo" [src]="logo" alt="Logo"
          /></ion-title>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <!-- Footer -->
  <app-footer *ngIf="!isHideMenu"></app-footer>
</div>
