<ion-menu contentId="main-content" (ionWillOpen)="getUser()">
  <ion-header>
    <ion-toolbar>
      <ion-chip>
        <ion-avatar>
          <img
            alt="Avatar del usuario"
            [src]="
              image_url ||
              'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
          />
        </ion-avatar>
        <ion-label>{{ username || "Inicia sesión" }}</ion-label>
      </ion-chip>
      <ion-menu-toggle>
        <ion-button *ngIf="username" (click)="logout()"
          >Cerrar sesión</ion-button
        >
        <ion-button *ngIf="!username" [routerLink]="['/login']"
          >Iniciar sesión</ion-button
        >
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button [routerLink]="['/product']">Lista de productos</ion-button>

      <ion-button [routerLink]="['/dashboard']">Home</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-content  class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="primary"></ion-menu-button>
      </ion-buttons>
      <div class="custom-toolbar">
        <div>
          <ion-title>{{ title }}</ion-title>
        </div>

        <img
          class="logo"
          [src]= logo
          alt="Logo"
        />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <app-footer></app-footer>
</ion-content>
