<ion-content>
  <div class="d-flex-center" style="text-align: center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">¡Validando pago en el sistema!</ion-card-title>
      
      </ion-card-header>
        <ion-icon
          name="checkmark-done-circle-outline"
          size="large"
          color="success"
        ></ion-icon>
      <ion-card-content>
        <p>¡Gracias por su compra!</p>
        <ion-icon
          name="happy-outline"
          size="large"
          color="medium"
        ></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
