<ion-header>
  <!-- Hide filters -->
  <ng-container *ngIf="showFilters">
    <ion-toolbar>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="filterItems()"
        placeholder="Buscar..."
      ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar style="--min-height: 48px; padding: 0">
      <ion-segment [(ngModel)]="filterType" (ionChange)="filterItems()">
        <ion-segment-button value="identifier">Identificador</ion-segment-button>
        <ion-segment-button value="date">Fecha</ion-segment-button>
        <ion-segment-button value="client">Cliente</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <!-- ionrefresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshTransactions($event)">
    <ion-refresher-content
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Recargando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let transaction of filteredTransactions">
    <ion-item (click)="goTransactionsDetails(transaction)">
      <ion-icon
        *ngIf="transaction.type === 'in'"
        slot="start"
        name="enter-outline"
        color="success"
      ></ion-icon>
      <ion-icon
        *ngIf="transaction.type === 'out'"
        slot="start"
        name="exit-outline"
        color="danger"
      ></ion-icon>
      <ion-label>
        <!-- Transaction identifier -->
        <h2>
          <ion-text class="app-color"> {{ transaction.identifier }} </ion-text>
        </h2>

          <!-- Client data of transaction -->
        <p class="ion-padding-start">
          <ion-icon
            slot="start"
            name="people-outline"
            color="primary"
            class="ion-padding-end"
          ></ion-icon>
          <ion-text color="medium"> {{ transaction.client?.name}} </ion-text>
          - {{ transaction.client?.identifier}}
        </p>

        <!-- Transaction date -->
        <p class="ion-padding-start">
          <ion-icon
            slot="start"
            name="calendar-outline"
            color="primary"
            class="ion-padding-end"
            style="margin-right: 6px"
          ></ion-icon
          >{{ transaction.date | date:'dd/MM/yyyy' }}
        </p>

      
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- No transactions available message -->
  <ion-item *ngIf="transactions.length === 0">
    <ion-label>No hay transacciones disponibles.</ion-label>
  </ion-item>
</ion-content>

<!-- New button -->
<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  (click)="goToNewTransaction()"
>
  <ion-fab-button color="secondary">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Search button -->
<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="toggleFilters()">
  <ion-fab-button color="medium" size="small" title="Abrir busqueda">
    <ion-icon name="search-outline" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>

