<ion-content class="ion-padding">
  <div class="d-flex-center">
    <img class="logo" [src]="logo" alt="Logo" />

    <ion-text color="secondary">
      <h1><strong>Stockify</strong></h1>
    </ion-text>

    <!-- Login form -->

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item class="custom-input">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input
          [(ngModel)]="username"
          name="username"
          type="text"
          label="Usuario"
          labelPlacement="floating"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="custom-input">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input
          [(ngModel)]="password"
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          label="Contraseña"
          labelPlacement="floating"
          required
        ></ion-input>
        <ion-button
          fill="clear"
          slot="end"
          (click)="showPassword = !showPassword"
        >
          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button
        class="custom-button"
        color="secondary"
        expand="block"
        shape="round"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Iniciar Sesión
        <ion-icon class="icon" color="light"slot="end" name="enter-outline"></ion-icon>
      </ion-button>
        <ion-button
          (click)="addUpdateUserModal()"
          class="custom-button"
          color="medium"
          expand="block"
          shape="round"
        >
          Crear nueva cuenta
          <ion-icon class="icon" color="light"slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
   
    </form>
  </div>
</ion-content>
