.logo {
  width: 80px; /* Ancho al 100% del contenedor */
  height: auto;
  border-radius: 30px;
  margin-top: 40px;
}

.icon {
  margin-left: 20px;
}

ion-text {
  margin-bottom: 10px;
}

ion-button {
  margin: 20px;
}
