<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                name="cube-outline"
                size="small"
                class="ion-padding-end"
              ></ion-icon
              >Total Productos en el Almacén:
              <ion-text color="secondary" ion class="ion-padding-start">
                {{ totalProducts }}
              </ion-text></ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <!-- Productos con poco stock -->
        <ion-card>
          <ion-card-header>
            <ion-card-title
              ><ion-icon
                name="trending-up-outline"
                size="small"
                class="ion-padding-end"
              ></ion-icon
              >10 productos con más stock</ion-card-title
            >
          </ion-card-header>

          <div class="small-chart">
            <canvas
              baseChart
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [type]="'doughnut'"
            ></canvas>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <!-- Productos con poco stock -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                name="trending-down-outline"
                size="small"
                class="ion-padding-end"
              ></ion-icon>
              5 Productos con bajo stock</ion-card-title
            >
          </ion-card-header>
          <div class="small-chart">
            <canvas
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'bar'"
            ></canvas>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- transactions -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                name="cube-outline"
                size="small"
                class="ion-padding-end"
              ></ion-icon
              >Total Transacciones:
              <ion-text color="secondary" ion class="ion-padding-start">
                {{ totaltransactions }}
              </ion-text></ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Productos con poco stock -->
        <!-- Transferencias recientes -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                name="stats-chart-outline"
                size="small"
                class="ion-padding-end"
              ></ion-icon
              >Transferencias recientes</ion-card-title
            >
          </ion-card-header>
          <div class="large-chart">
            <canvas
              baseChart
              [data]="transferBarChartData"
              [options]="transferBarChartOptions"
              [type]="'bar'"
            ></canvas>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
